.icon-48-utenti {
      background-image: url(../images/l_utenti.png);
      padding-left:60px!important;
}

.icon-48-utente {
      background-image: url(../images/l_utenti.png);
      padding-left:60px!important;
}

.icon-48-giustificativi {
      background-image: url(../images/l_giustificativi.png);
      padding-left:60px!important;
}

.icon-48-giustificativo {
      background-image: url(../images/l_giustificativi.png);
      padding-left:60px!important;
}

